directory: /home/dipras/Data/Coding/Task/open-source/nxensite
repository: dipras/HookDeploy
on_push:
  - name: Git pull
    cmd: git
    args: ["pull", "origin", "master"]

  - name: ls system
    cmd: ls
    args: []